{{extend 'layout.html'}}
<html>
<body style="background:#fff7e6;">
<h2>
    Course Notes for {{=EM(deslugify(uCourse.name))}}
    <span class="pull-right">
        {{=A('upload notes', _class='btn btn-success',
             _href=URL('uploadNotes', args=uCourse.id))}}
    </span>
</h2>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Date Uploaded</th>
  </tr>
  
  {{for note in notes:}}
  <tr>
      <td>
        {{=A(note.title, _href=URL('download', args=note.notefile))}}
      </td>
      <td>
          {{=note.notetype}}
      </td>
      <td>
          {{=note.datetime}}
      </td>
  </tr>
  {{pass}}

  <tr>
    <td>{{=A('upload notes', _href=URL('uploadNotes', args=uCourse.id))}}</td>
    <td></td>
    <td></td>
  </tr>
</table>
</body>
</html>