{{extend 'layout.html'}}
<h2>
    Course Notes for {{=EM(deslugify(uCourse.name))}}
    <span class="pull-right">
        {{=A('upload notes', _class='btn btn-success',
             _href=URL('uploadNotes', args=uCourse.id))}}
    </span>
</h2>

<table>
  {{for note in notes:}}
  {{=note}}
  <!-- <tr>
    <td>{{=A(note.title, _href=URL('classPage',args=aClass.id))}}</td>
    <td>{{=A('edit', _href=URL('editClass',args=aClass.id))}}</td>
  </tr> -->
  {{pass}}
  <tr>
    <td>{{=A('upload notes', _href=URL('uploadNotes', args=uCourse.id))}}</td>
    <td></td>
  </tr>
</table>
