{{extend 'layout.html'}}
{{longname = deslugify(uClass.name)}}
<div class="row">
    <h2 class="col-md-8 pull-left">
        List of Classes for {{=deslugify(db.department[uClass.department_id].short_name).upper()}} {{=uClass.course_num}} {{=deslugify(uClass.name)}}
    </h2>
    <div class="h2 pull-right">
        {{=A('add a class', _class='btn btn-success',
             _href=URL('createClass',args=uClass.id))}}
        {{=A('course notes', _class='btn btn-success',
             _href=URL('courseNotes', args=uClass.id))}}
    </div>
</div>

<table class="table" style="margin-top: 20px; width: 60%;">
    <tr>
      <th>Quarter</th>
      <th>Professor</th>
      <th>Edit</th>
    </tr>
  {{for aClass in info:}}
  {{quarter = "%s %d" % (aClass.quarter, aClass.yr)}}
  {{prof = db.professor(aClass.professor_id) or redirect(URL('index'))}}
  {{prof_name = "%s %s" % (prof.first_name, prof.last_name)}}
  <tr>
    <td>{{=A(quarter.title(), _href=URL('classPage', args=aClass.id))}}</td>
    <td>{{=A(prof_name.title(), _href=URL('professorReview', args=aClass.professor_id))}}</td>
    <td>{{=A('edit', _href=URL('editClass', args=aClass.id))}}</td>
  </tr>
  {{pass}}
  <tr>
    <td>{{=A('Add a class', _href=URL('createClass',args=uClass.id))}}</td>
    <td></td>
    <td></td>
  </tr>
</table>

<i>See what people are discussing about {{=A(deslugify(uClass.name), _href=URL('viewCourseTopic', args=uClass.id))}}</i>
