{{extend 'layout.html'}}
<html>
<body style="background:#fff7e6;">
<table class="table" style="margin-top: 20px; width: 60%;">
  <tr>
      <th style= "font-size:150%;" >Departments</th>
      <th style= "font-size:150%;"></th>
      <th></th>
  </tr>
  {{for dept in depts:}}
  <tr>
    <td>{{=A(dept.name,_href=URL('showCourse',args=dept.id))}}&nbsp;&nbsp;</td>
    <td>{{=dept.short_name.upper()}}&nbsp;&nbsp;</td>
    <td>{{=A('edit',_href=URL('departmentEdit',args=dept.id))}}</td>
  </tr>
  {{pass}}
  <tr>
    <td></td>
    <td></td>
    <td style="text-align:right">{{=A('Add More Departments', _class='btn btn-primary',_href=URL('departmentCreate'))}}</td>
  </tr>
</table>
</body>
</html>