{{extend 'layout.html'}}
<html>
<head>
<script src="/SlugHero/static/js/canvasjs.min.js"></script>
<script type="text/javascript">

window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer", {
		theme: "theme2",//theme1
		title:{
			text: "Course Grade Distribution"
		},
		animationEnabled: true,   // change to true
		data: [
		{
			// Change type to "bar", "area", "spline", "pie",etc.
			type: "column",
			dataPoints: [
				{ label: "A",  y: {{=A}}  },
				{ label: "B", y: 15  },
				{ label: "C", y: 25  },
				{ label: "D",  y: 30  },
				{ label: "F",  y: 28  }
			]
		}
		]
	});
	chart.render();
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 25%;"></div>
</body>
</html>
