{{extend 'layout.html'}}
{{=A('Back', _href=URL('default', 'showClass', args=uCourse.id))}}

<div class="container">
  <h2>{{=deslugify(uCourse.name)}}</h2>
  <p>{{=A('Create New Topic', _href=URL('create','createTopic', args=uCourse.id))}}</p>
  {{for topic in info:}}
  {{op = db.auth_user[topic.op]}}
  {{name = op.first_name+ " " +op.last_name}}
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><p class="text-primary text-capitalize">{{=A(name, 
            _href=URL('userProfile','showProfile',args=[op.id], 
            vars=dict(controller=request.controller,function=request.function,args=request.args)))}}: 
            {{=topic.quarter}} {{=topic.yr}}
          </p></h2>
          {{=topic.datePosted.strftime("%d, %b %Y %I:%M %p")}}
		  <br>
          <p class="text-capitalize">
          	{{=A(topic.title, _href=URL('show','showTopic', args=topic.id))}}
          	<br>
         	Replies: {{=topic.replies}}
         </p>
        </div> 
      </div>
    </div>
  {{pass}}
</div>

<!--{{for i,row in enumerate(rows):}}
  {{if i==items_per_page: break}}
  <br />
{{pass}}

{{if page:}}
  <a href="{{=URL(args=[page-1])}}">previous</a>
{{pass}}

{{if len(rows)>items_per_page:}}
  <a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}

<br>
{{=page}}<br>
{{=limitby}}<br>
{{=rows}}-->

