errors/*

sessions/

sessions/*.log

*.log

databases/sql.log

databases/sql.log
*.log
*.log
*.log
databases/sql.log
databases/sql.log
*.log
databases/sql.log

databases/sql.log
*.log
*.pyc
databases/sql.log
