{{extend 'layout.html'}}
<!DOCTYPE html>
<html>

<style>
input[type=text], select {
    width: 100%;

}

input[type=submit] {
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

</style>
<body style="background:#fff7e6; ">

<h1 style="text-align:center; color:#cc6600"><i></i></h1>

<div style="text-align:justify">
{{=form.custom.begin}}
  <form action="action_page.php" >
    <label for="Title" style="color:#cc6600">First Name</label>
    <br>
    {{=form.custom.widget.first_name}}
    <br>
    <br>
    <br>
    <label for="Title" style="color:#cc6600">Last Name</label>
    <br>
    {{=form.custom.widget.last_name}}
    <br>
    <br>
    <br>
    <label for="Description" style="color:#cc6600">Image</label>

    <br>
    {{=form.custom.widget.image}}
    <br>
    <br>
    <label for="Title" style="color:#cc6600">Select a Department</label>
    <br>
    {{=form.custom.widget.department_id}}
    <br>
    <br>
    <br>
    <div style="text-align:right">{{=form.custom.submit}}</div>
    {{=form.custom.end}}
  </form>
  <br><br><br><br>
 <form method="get" action="/SlugHero/professor/showProfessor">
 <button class="btn btn-info" type="submit">< back</button>
 </form>
</div>

</body>
</html>
