{{extend 'layout.html'}}
{{import string}}

<div class="row">
    <ul class="breadcrumb" style="background-color:white; border-style: none;">
        <li class="active">
            <a href="#">List of Professors</a>
        </li>
    </ul>
</div>

<table class="table">
    <tr><th>Department <small>(click to reveal professors)</small></th></tr>
    {{for dept in depts:}}
    <tr><td>
        <a data-toggle="collapse" href="#{{=dept.short_name}}" style="font-weight:bold;">
            <span class="glyphicon glyphicon-right"></span>
            {{=dept.name}}
        </a>
        <div id="{{=dept.short_name}}" class="collapse">
            <ul>
            {{for prof in profs:}}
                {{if prof.department_id == dept.id:}}
                    {{name="%s %s" % (prof.first_name, prof.last_name)}}
                    <li>{{=A(string.capwords(name), _href=URL('professorReview', args=prof.id))}}</li>
                {{pass}}
            {{pass}}
            </ul>
        </div>
    </td></tr>
    {{pass}}
    <tr><td></td></tr>
</table>

<div class="row">
    {{=A('add professor', _class='btn btn-primary', _href=URL('addProfessor'))}}
</div>
