{{extend 'layout.html'}}

<style>
table, th, td {
    border: 1px solid gray;
    border-color: #184343 #184340 #f8f6df #184348;
    border-collapse: collapse;
    margin: 0 auto;
}
</style>

<body style="background:#184343">
<h1 style="font-family:verdana;font-size:300%;color:#ffd9b5;" >
  Welcome to UCSC Forum</h1>
<div class = "well"  style="background:#184348">
<table style="width:78%">
	<tr bgcolor="#2c2a30" style="font-family:geneva;font-size:120%;color:#ffd9b9;height:50px">
      <th>&nbsp;&nbsp;&nbsp;Thread</th>
      <th>&nbsp;&nbsp;&nbsp;Thread Starter</th>
      <th>&nbsp;&nbsp;&nbsp;Last Post</th>
      <th>&nbsp;&nbsp;&nbsp;Replies</th>
   </tr>
    {{for forum in forums:}}
    {{student = db.auth_user(forum.user_id)}}
    {{swithColor +=1}}
    {{numOfReplies = db(db.comm.post_id==forum.id).select()}}
    {{lastPost = db(db.comm.post_id==forum.id).select(db.comm.ALL, orderby=~db.comm.datetime, limitby=(0,1))}}

    {{if (len(lastPost) !=0):}}
      {{for lastStudent in lastPost:}}
       {{lastPostStudent = db.auth_user(lastStudent.user_id)}}
      {{pass}}
    {{pass}}
    {{if (swithColor% 2 ==1):}}
      <tr bgcolor="#f8f6df" style="font-family:verdana;font-size:100%;color:black;height:40px">
        <td>
        	<font style="color:#black;">
          &nbsp;&nbsp;{{=(A(forum.title, _href=URL('showEachForum', args=forum.id)))}}
          </font>
        </td>
        <td><div style = "text-align:center;color: #e98c3a">
          {{=(student.first_name+' '+student.last_name)}}</div>
        </td>
        <td>
          {{if (len(lastPost) !=0):}}
            <div style = "text-align:center;color:#e98c3a">
            {{=(lastPostStudent.first_name+' '+lastPostStudent.last_name)}}</div>
          {{else:}}
            <div style = "text-align:center;color:#e98c3a">---</div>
          {{pass}}
        </td>
        <td><div style = "text-align:center;color: #e98c3a">
          {{=len(numOfReplies)}}</div>
        </td>
      </tr>
    {{else:}}
      <tr bgcolor="#eff5d1" style="font-family:verdana;font-size:100%;color:black;height:40px">
        <td>
          &nbsp;&nbsp;{{=(A(forum.title, _href=URL('showEachForum', args=forum.id)))}}
        </td>
        <td><div style = "text-align:center;color:#e98c3a">
          {{=(student.first_name+' '+student.last_name)}}</div>
        </td>
        <td>
        {{if (len(lastPost) !=0):}}
          <div style = "text-align:center;color:#e98c3a">
          {{=(lastPostStudent.first_name+' '+lastPostStudent.last_name)}}</div>
        {{else:}}
          <div style = "text-align:center;color:#e98c3a">---</div>
        {{pass}}
        </td>
        <td><div style = "text-align:center;color: #e98c3a">
          {{=len(numOfReplies)}}</div>
        </td>
      </tr>
    {{pass}}  

    {{pass}}
</table>
</div>
<br>

{{if (auth.user_id == None):}}
	<div style = "text-align:right">
		<font style="font-size:100%;">
			<i>{{=A('Login to Create A Discussion',_href=URL('default','user'))}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
		</font>
	</div>
{{else:}}
	<div style = "text-align:right">
	{{=A('Create A Discussion',  _class="btn btn-primary", _href=URL('addForum'))}}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
{{pass}}

<div style = "text-align:right">
{{if number!=0:}}
<p style="color:#e98c3a;">Page of {{=page+1}}/{{=number}}
{{pass}}
{{if page>1:}}
{{=A('<<',_class="btn btn-link", _href=(URL(args=(page-2))))}}
{{pass}}
{{if page>0:}}
{{=A('<',_class="btn btn-link", _href=(URL(args=(page-1))))}}
{{pass}}
{{if (page <= 2 and number <= 5):}}
{{for showNum in range(0, number):}}
{{=A(showNum+1,_class="btn btn-link", _href=(URL(args=(showNum))))}}
{{pass}}
{{pass}}

{{pass}}
{{if (page <= 2 and number >= 5):}}
{{for showNum in range(0, 5):}}
{{=A(showNum+1,_class="btn btn-link", _href=(URL(args=(showNum))))}}
{{pass}}
{{pass}}

{{if (page+5)>(number) and page>2 and number >5:}}
{{for showNum in range(page-count, number):}}
{{=A(showNum+1,_class="btn btn-link", _href=(URL(args=(showNum))))}}
{{pass}}
{{pass}}
{{if (page+5)>(number) and page>2 and number <5:}}
{{for showNum in range(0, number):}}
{{=A(showNum+1,_class="btn btn-link", _href=(URL(args=(showNum))))}}
{{pass}}
{{pass}}

{{if (page >2 and (page+5) <= number):}}
{{for showNum in range(page-2, page+3) :}}
{{=A(showNum+1,_class="btn btn-link", _href=(URL(args=(showNum))))}}
{{pass}}
{{pass}}
{{if number -page >1:}}
{{=A('>',_class="btn btn-link", _href=(URL(args=(page+1))))}}
{{pass}}
{{if number - page >2:}}
{{=A('>>',_class="btn btn-link", _href=(URL(args=(page+2))))}}
{{pass}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

</body>

