{{extend 'layout.html'}}
{{import string}}
{{student=db.auth_user(book.user_id)}}
<h1>Book image:</h1>
<div style="text-align:center">
    <img
         width="190px" height="250"src="{{=URL('download', args=book.image)}}" />
</div>
<div class ="well">
    <h2>{{=book.title}}</h2>
    <h2 style="color:red">
        Price: {{=book.price}}$
    </h2>
    <ul style="list-style-type:none">
        <li></li>
        <li>Seller: {{=(student.first_name+' '+student.last_name)}}</li>
        <li></li>
        <li><p>
            Description: {{=book.body}}
        </p></li>
        <li>Available for sale: {{=book.status}}</li>
        <li>Date: {{=book.datetime}}</li>
    </ul>
</div>
