{{extend 'layout.html'}}
{{import string}}
{{student=db.auth_user(book.user_id)}}

<h1>Book image:</h1>
<div style="text-align:center">
    <img
         width="190px" height="250"src="{{=URL('download', args=book.image)}}" />
</div>
<div class ="well">
    <h2>{{=book.title}}</h2>
    <h2 style="color:red">
        Price: {{=book.price}}$
    </h2>
    <ul style="list-style-type:none">
        <li></li>
        <li>Seller: {{=(student.first_name+' '+student.last_name)}}</li>
        <li></li>
        <li><p>
            Description: {{=book.body}}
        </p></li>
        <li>Available for sale: {{=book.status}}</li>
        <li>Date: {{=book.datetime}}</li>
    </ul>
</div>

{{if len(comments):}}
<h2>Comments:</h2>
<p>
{{for comment in comments:}}
{{commStudent=db.auth_user(comment.user_id)}}
<div style="text-align:center">
    <i>User: {{=A(string.capwords(commStudent.first_name+' '+commStudent.last_name), _href=URL('userProfile','showProfile',args=[commStudent.id], vars=dict(controller=request.controller,function=request.function,args=request.args)))}}
       Time: {{=comment.datetime}}</i>
</div>
<div class ="well">
    <ul style="list-style-type:none">
        <li>{{=comment.body}}</li>
    </ul>
</div>
{{pass}}
</p>
{{else:}}
  <h4>No comments posted yet</h4>
{{pass}}

<div style="text-align:justify">
<h2>New Post:</h2>
<ul style="list-style-type:none">
        <li>{{=form}}</li>
</ul>
</div>
