{{extend 'layout.html'}}
{{import string}}
{{=A('back', _class='btn btn-primary', _href=URL(controller,function,args=args))}}
<table>
   <tr>
     <td rowspan="3"><img width="150px" src="{{=URL('default','download', args=user.image)}}" /></td>
     <td><h3><b>&nbsp;{{=string.capwords(user.first_name+' '+user.last_name)}}</b></h3><td>
   </tr>
    <td><h3><b>&nbsp;{{=user.term}}</b></h3><td>
   <tr>
     <td><h3><b>&nbsp;{{=user.email}}</b></h3><td>
   </tr>
</table>

<div class="container">
  <h2>Ativities</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#profreview">Professor Review</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="profreview" class="tab-pane fade in active">
      <h3>Professor Review</h3>
      
      <table class = "table table-bordered">
      <tbody>
        <thead>
         <tr>
            <th>Rating</th>
            <th>Class</th>
            <th>Comment</th>
         </tr>
      </thead>
        {{for review in reviews:}}
            {{prof= db.professor(review.professor_id)}}
            {{dept=deslugify(db.department(prof.department_id).name)}}
            {{deptname=db.department(prof.department_id).short_name}}
             <tr>
               <td>
                  <p><b>Helpfulness:&nbsp;</b>{{=review.helpfulness}}</p>
                  <p><b>Clarity:&nbsp;</b>{{=review.clarity}}</p>
                  <p><b>Easiness:&nbsp;</b>{{=review.easiness}}</p>
                  <p><b>Overall Rating:&nbsp;</b>{{="%.1f" % review.rating}}/5</p>
               </td>
               <td>
                 <p><b>Cousre:&nbsp;</b>{{=deptname.upper()}}&nbsp;{{=db.course(review.course_id).course_num}}</p><p><b>Term:</b>{{=review.quarter}}{{=review.yr}}</p>
               </td>
               <td>
                 {{=review.review}}
                 <p><b>Posted On:&nbsp;</b>{{=review.datetime}}</p>
                 {{if auth.user_id == review.user_id:}}
                 <p><b>{{=A('edit', _class='btn btn-primary', _href=URL('editProfessorReview',args=[review.id, prof.id]))}}</b></p>
                 {{pass}}
               </td>
            </tr>
        {{pass}}
      </tbody>
    </table>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

</body>
